@import url("./reset.css");

* {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
  /* width: 100%; */
}

img {
  display: block;
  max-width: 100%;
}

/*header*/

.header {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0;
  background-image: url("../images/header-background-01.png");
}

/*navbar*/

.logo {
  justify-content: left;
  width: 30vw;
}

.navbar {
  display: flex;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-content: left;
  list-style: none;
  text-align: left;
}

.navbar ul li a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18pt;
  text-decoration: none;
  padding: 2rem 5rem 0 5rem;
  color: #306868;
}

.navbar span {
  font-weight: bold;
  align-items: center;
}

.navbar a span:hover {
  text-decoration: underline #498149 dotted 4px;
}

.canas {
  position: relative;
  height: 22vh;
}

/*títulos*/

p,
legend {
  font-size: 14pt;
  max-width: 50ch;
}

.article h1 {
  padding: 1rem;
}

.h1-right {
  text-align: right;
}

/*artigos*/

.main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-evenly;
}

.article {
  width: 100%;
  padding: 1rem;
  display: flex;
}

.article p {
  flex: 1;
}

.article img {
  flex: 1;
}

.article ~ div {
  padding: 1rem;
}

.home-img {
  width: 30%;
  background-size: cover;
  padding: 1rem;
}

/*footer*/

.footer_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: rgba(53, 220, 200, 0.6);
}

.end-cont p {
  padding: 1rem 0 1.5rem 0;
}

.social i {
  padding: 1rem 0 0 0.5rem;
  color: #306868;
}

.form {
  padding-bottom: 2rem;
}

.form ul {
  display: flex;
  flex-direction: column;
}

ul button {
  align-self: flex-end;
  margin: 0 0.3rem 0.3rem 0;
}

.form ul li {
  padding: 0.5rem;
}

@media (max-width: 767px) {
  .header {
    height: auto;
    background-image: none;
    background-color: rgba(53, 220, 200, 0.6);
  }
  .header,
  .navbar,
  .navbar ul,
  .navbar ul li,
  .navbar ul li a {
    position: static;
    max-width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .canas {
    display: none;
  }
  .text {
    flex-direction: column;
  }
  .footer_div {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .end-cont p {
    padding: 0.5rem;
  }
}
